<% if (index) { %>
    <% if (post.link) { %>
        <a class="<%= class_name %>" href="<%- url_for(post.link) %>" target="_blank" itemprop="url"><%= page.title %></a>
    <% } else if (page.title) { %>
        <a class="<%= class_name %>" href="<%- url_for(post.path) %>"><%= page.title %></a>
    <% } else { %>
        <a class="<%= class_name %>" href="<%- url_for(post.path) %>">Untitled</a>
    <% } %>
<% } else { %>
    <h1 class="<%= class_name %>" itemprop="name headline">
        <%= page.title %>
    </h1>
<% } %>

